/* For Desktop */
@media screen and (min-width: 800px) {
	#navbar {
		/* Occupy only 50px for desktop */
		height: 50px;
	}
} 

div.logo {
	font-family: 'Kaushan Script', cursive;
	font-size: 120%;
	font-weight: bold;
}

div.logo span.title {

	font-style: italic;
}
div#mynav {

	font-family: 'Syne', sans-serif;

}

div#mynav ul li {

	padding: 1em;
}
#mynav a {

	color: #bbe1fa;
}
#mynav a:hover {
	color: #bbe1fa;
	text-decoration: underline;
}

a.active {

	text-decoration: underline;
}