
div.content {
	width: 100vw;
	height: 100vh;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-fluid {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Baloo Tammudu 2', cursive;
	padding: 2em;
}
@media screen and (min-width: 800px) {
	.wrapper1 {
		display: grid;
		grid-template-columns: 1fr auto;
		gird-template-rows: 100%;
	}
	.developer-img img {
		width: 310px;
		height:350px;
	}
	.action-message  {
		padding: 2em;
	}
}
/* For mobile */
@media screen and (min-width: 100px) and (max-width: 800px)  {
	.developer-img img {
		width: 40%;
		height: 50%;
	}
	.developer-img {
		display: flex;
		justify-content: center;
	}
}
.action-message  {
	padding: .5em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.action-message p {
	font-size: 18px;
	color: black;
	line-height: 25px;
}
.developer-img {
	padding-right: 1em;
}

.developer-img img {
	border-radius: 50%;
}

button.action {

	font-family: 'Syne', sans-serif;
	margin-top: 2em;
	float: right;
}

button a {

	color: black;
}

strong {
	font-weight: bold;
}

.skill {
	color: #b55400;
}
		
		
		